{% extends "base.html" %}

{% block content %}

<!-- Header-->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Welcome to the hospital database website</h1>
    </div>
</header>

<br><br>

<div style="margin: 50px 300px; padding: 30px; text-align: center; background-color: rgb(173, 173, 173); border-radius: 10px;">


    <h4 style="color: rgb(255, 255, 255);">Here you can select which database you want to view</h4>
    <br>
    <a style="color:rgb(255, 255, 255)"  href="{% url 'patients:patient' %}"><p class="lead">Patients</p></a>
    <a style="color:rgb(255, 255, 255)"  href="{% url 'employees:index' %}"><p class="lead">Employees</p></a>
    <a style="color:rgb(255, 255, 255)"  href="{% url 'candidates:index' %}"><p class="lead">Candidates</p></a>

</div>
<br><br><br>



{% endblock %}