{% extends "base.html" %}

{% block content %}

<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Employees</h1>
    </div>
</header>

    <ul>
        {% for post in posts %}
            <li>
                <p>
                    {{ post.first_name }}
                    {{ post.last_name }}
                    {{ post.e_mail }}
                    {{ post.phone }}
                    {{ post.age }}
                    {{ post.profession }}
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}